* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  background-image: url(https://media.istockphoto.com/vectors/parking-lot-vector-illustration-isolated-on-white-background-flat-vector-id1127160403?k=20&m=1127160403&s=170667a&w=0&h=HUZPpIJzdqs7Py1T_RAn01p02sSWDqKqvnC-pZe-3i4=);
}
header {
  background-color: rgb(25, 120, 197);
}
#header-logo {
  width: 64px;
  height: 64px;
}
#header-msg {
  font-size: 25px;
  color: white;
}
#btnOne {
  background-color: rgb(25, 120, 197);
  color: white;
}
#btnOne:focus,
#btnOne:hover {
  box-shadow: none;
  outline: none;
}

#tableHead {
  background-color: rgb(25, 120, 197);
}
#searchInput {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  border-bottom: 1px solid #ced4da;
}
#searchInput:hover,
#searchInput:focus {
  box-shadow: none;
  outline: none;
}
.card {
  background-color: white;
  width: 800px;
  height: 450px;
  padding: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 56px 84px,
    rgba(0, 0, 0, 0.22) 0px 40px 40px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 10px;
}
